.dropdown {
    width: 280px;
    height: 56px;
    position: relative;
    background-color: rgb(59, 207, 59);
    border-radius: 6px;
}

.dropdown:hover {
    background-color: lightgreen;
    border-radius: 6px;
}

.dropdown .selected {
    padding: 16px 16px;
    display: flex;
    align-items: center;
}

.options {
    background-color: lightgreen;
    border-radius: 6px;
    border-width: thick;
    border-color: black;
    width: 200px;
}

.options .option {
    padding: 4px 16px;
}

.options .option:hover {
    background-color: whitesmoke;
}

.increaseButton {
    color: white;
    padding: 4px;
    border-radius: 12px;
    background-color: green;
}

.decreaseButton {
    color: white;
    padding: 4px;
    border-radius: 12px;
    background-color: red;
}

.deleteButton {
    color: white;
    padding: 4px;
    border-radius: 12px;
    background-color: black;
}